/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
}

.App {
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

p {
  text-align: center;
  color: green;
} */
.App {
  font-family: Arial, sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
form div{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
form label{
  width: 60px;
  /* margin-right: 10px; */
}
input {
  margin: 5px;
  padding: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

button:hover {
  background-color: #0056b3;
}

/* Estilo do botão Deletar */
.deletar-btn {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #ff4444;
  color: white;
  border: none;
  cursor: pointer;
}

.deletar-btn:hover {
  background-color: #cc0000;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
}

form {
  margin-bottom: 20px;
}

input {
  margin: 5px;
  padding: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Estilo do botão Deletar */
.deletar-btn {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #ff4444;
  color: white;
  border: none;
  cursor: pointer;
}

.deletar-btn:hover {
  background-color: #cc0000;
}

ul {
  list-style-type: none;
}